@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");

:root {
	--bg-clr: #222222;
	--container-clr: #292929;
	--clr-text: #f1f0eb;
	--clr-accent: #41b883;

	--ff-primary: "Roboto", sans-serif;
	--ff-accent: "Kanit", sans-serif;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	display: block;
}

body {
	height: 100vh;
	background-color: var(--bg-clr);
	display: grid;
}

.container {
	width: 800px;
	height: 350px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	/* border: 1px solid var(--clr-primary); */
	margin: auto;
}

.photo {
	width: 250px;
	position: relative;
}

.photo::before {
	content: "";
	position: absolute;
	width: 190px;
	height: 285px;
	bottom: 0;
	right: 39px;
	background-color: rgb(48, 47, 47);
	z-index: -2;
}

.photo::after {
	content: "≣";
	color: var(--clr-accent);
	position: absolute;
	transform: scale(14);
	top: 100px;
	left: 50px;
	z-index: -1;
}

.content {
	width: 500px;
	color: var(--clr-text);
	font-family: var(--ff-primary);
}

.content h1,
.content h2 {
	font-family: var(--ff-accent);
}

.content h1 {
	line-height: 35px;
}
.content h2 {
	color: var(--clr-accent);
}

.content p {
	margin-top: 20px;
	font-size: 0.9rem;
}

.button-wrap {
	display: flex;
	margin-top: 20px;
}

.button-wrap .button:not(:first-child) {
	margin-left: 10px;
}
.button {
	display: flex;
	position: relative;
	width: 120px;
	height: 40px;
	opacity: 0.8;
}

.instagram {
	background: linear-gradient(
		45deg,
		#405de6,
		#5851db,
		#833ab4,
		#c13584,
		#e1306c,
		#fd1d1d
	);
	box-shadow: 0 7px #1d1533;
}

.gitlab {
	background: linear-gradient(45deg, #e24329, #fc6d26, #fca326);

	box-shadow: 0 7px #33120c;
}

.github {
	background-color: rgb(250, 250, 250);
	box-shadow: 0 7px #070707;
}

.button.github a {
	color: black;
}

.button a {
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 40px;
	color: var(--clr-text);
	font-weight: bold;
}

.icon {
	display: inline;
}

.button:hover {
	opacity: 1;
}

.button:active {
	position: relative;
	top: 7px;
	box-shadow: none;
}
