<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<style>
			form {
				width: 250px;
				background-color: rgb(233, 233, 233);
				padding: 10px 20px;
				border-radius: 5px;
				margin-bottom: 30px;
			}
			form > * {
				display: block;
				padding: 5px;
				width: 230px;
			}
			input,
			textarea {
				margin-bottom: 10px;
			}
			ul {
				margin-left: 15px;
			}
		</style>
		<title>Tugas-12 Ajax Axios</title>
	</head>
	<body>
		<div id="app">
			<form @submit.prevent="submitForm">
				<ul v-if="errors.length > 0">
					<li v-for="error in errors">{{error}}</li>
				</ul>
				<label for="name">Name :</label>
				<input
					v-model="name"
					type="text"
					name="name"
					id="name"
					ref="name"
					:disabled="buttonStatus == 'upload'"
				/>
				<label for="address">address :</label>
				<textarea
					v-model="address"
					name="address"
					id="address"
					ref="address"
					:disabled="buttonStatus == 'upload'"
					rows="5"
				></textarea>
				<label for="noHp">No HP</label>
				<input
					v-model="noHp"
					type="teks"
					name="noHp"
					id="noHp"
					ref="noHp"
					:disabled="buttonStatus == 'upload'"
				/>

				<template v-if="buttonStatus =='upload'">
					<input type="file" name="photo" id="photo" ref="photo" />
					<input type="button" value="UPLOAD" @click="submitPhoto" />
					<input type="button" value="CANCEL" @click="clearForm" />
				</template>

				<template v-else-if="buttonStatus == 'update'">
					<input
						type="button"
						value="UPDATE"
						@click="updateMember(selectedId)"
					/>
					<input type="button" value="CANCEL" @click="clearForm" />
				</template>
				<input
					v-else-if="buttonStatus == 'submit'"
					type="submit"
					value="SUBMIT"
				/>
			</form>

			<table border="1">
				<tr v-for="member in members">
					<td>
						<img
							width="100"
							:src="member.photo_profile ? photoDomain + member.photo_profile : 'https://dummyimage.com/16:9x1080' "
							alt=""
						/>
					</td>
					<td>
						<p><b>Name :</b>{{member.name}}</p>
						<p><b>Address :</b>{{member.address}}</p>
						<p><b>No Hp :</b>{{member.no_hp}}</p>
					</td>
					<td>
						<button @click="editMember(member)">Edit</button>
						<button @click="removeMember(member.id)">Hapus</button>
						<button @click="uploadPhoto(member)">Upload Foto</button>
					</td>
				</tr>
			</table>
		</div>

		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
		<script>
			const vm = new Vue({
				el: "#app",
				data: {
					name: "",
					address: "",
					noHp: "",
					members: [],
					errors: [],
					photoDomain: "http://demo-api-vue.sanbercloud.com/",
					selectedId: null,
					buttonStatus: "submit",
				},
				methods: {
					validations: function () {
						this.errors = [];

						// validasi input nama
						if (this.name.length == 0) {
							this.errors.push("Nama tidak boleh kosong");
							this.$refs.name.focus();
						}
						if (this.name.length > 20) {
							this.errors.push("Nama maksimal 20 karakter");
							this.$refs.name.focus();
						}

						// validasi input address
						if (this.address.length == 0) {
							this.errors.push("Address tidak boleh kosong");
							this.$refs.address.focus();
						}
						if (this.address.length > 60) {
							this.errors.push("Address maksimal 60 karakter");
							this.$refs.address.focus();
						}

						// validasi input no hp
						if (this.noHp.length == 0) {
							this.errors.push("No HP tidak boleh kosong");
							if (this.name.length == 0) {
								this.$refs.name.focus();
							} else if (this.address.length == 0) {
								this.$refs.address.focus();
							} else {
								this.$refs.noHp.focus();
							}
						}

						// no hp hanya boleh diinput angka, + ( )
						let reg = new RegExp("^[0-9-+() ]*$");
						if (reg.test(this.noHp) == false) {
							this.errors.push("No HP diisi dengan angka");
							this.$refs.noHp.focus();
						}
					},

					clearForm: function () {
						this.name = "";
						this.address = "";
						this.noHp = "";
						this.selectedId = null;
						this.buttonStatus = "submit";
					},

					submitForm: function () {
						this.validations();

						if (this.errors.length === 0) {
							let form = new FormData();
							form.append("name", this.name);
							form.append("address", this.address);
							form.append("no_hp", this.noHp);

							const config = {
								method: "post",
								url: "http://demo-api-vue.sanbercloud.com/api/member",
								data: form,
							};
							axios(config)
								.then((response) => {
									this.getMembers();
									alert(response.data.message);
								})
								.catch((error) => {
									console.log(error);
								});
							this.clearForm();
						}
					},

					getMembers: function () {
						const config = {
							method: "get",
							url: "http://demo-api-vue.sanbercloud.com/api/member",
						};
						axios(config)
							.then((response) => {
								this.members = response.data.members;
							})
							.catch((error) => {
								console.log(error);
							});
					},

					removeMember: function (id) {
						const konfirmasi = confirm("Apakah Anda Yakin?");
						if (konfirmasi) {
							const config = {
								method: "post",
								url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
								params: { _method: "DELETE" },
							};
							axios(config)
								.then((response) => {
									this.getMembers();
									alert(response.data.message);
								})
								.catch((error) => {
									console.log(error);
								});
						}
					},

					editMember: function (member) {
						this.name = member.name;
						this.address = member.address;
						this.noHp = member.no_hp;
						this.selectedId = member.id;
						this.buttonStatus = "update";
						this.errors = [];
						this.$refs.name.focus();
					},

					updateMember: function (id) {
						this.validations();

						if (this.errors.length === 0) {
							let form = new FormData();
							form.append("name", this.name);
							form.append("address", this.address);
							form.append("no_hp", this.noHp);

							const config = {
								method: "post",
								url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
								params: { _method: "PUT" },
								data: form,
							};
							axios(config)
								.then((response) => {
									this.getMembers();
									alert(response.data.message);
								})
								.catch((error) => {
									console.log(error);
								});
							this.clearForm();
						}
					},

					uploadPhoto: function (member) {
						this.name = member.name;
						this.address = member.address;
						this.noHp = member.no_hp;
						this.selectedId = member.id;
						this.buttonStatus = "upload";
						this.errors = [];
						this.$refs.noHp.focus();
					},

					submitPhoto: function () {
						let file = this.$refs.photo.files[0];
						let form = new FormData();
						form.append("photo_profile", file);

						const config = {
							method: "post",
							url: `http://demo-api-vue.sanbercloud.com/api/member/${this.selectedId}/upload-photo-profile`,
							data: form,
						};
						axios(config)
							.then((response) => {
								this.getMembers();
								alert(response.data.message);
							})
							.catch((error) => {
								console.log(error);
							});
						this.clearForm();
					},
				},
				created() {
					this.getMembers();
				},
			});
		</script>
	</body>
</html>
